<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyiteng.gambling.dao.system.RolePermMapper">

    <delete id="deletePermissionsForRole">
        delete from gambling.auth_role_perm where role_id = #{roleId}
    </delete>

    <insert id="insertPermissionsForRole">
        insert into gambling.auth_role_perm
        (create_time, update_time, role_id, permission_name)
        select now(), now(), t1.* from (
        <foreach collection="permissions" item="permission" separator="UNION ALL">
            select #{roleId}, #{permission.permissionName} from dual
        </foreach>) t1
    </insert>

    <select id="getPermissionsByRoleId" resultType="com.zhouyiteng.gambling.model.system.PermModel">
        select permission_name
        from gambling.auth_role_perm
        where role_id = #{roleId}
    </select>

</mapper>