<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyiteng.gambling.dao.system.RolePermMapper">

    <delete id="deletePermissionsForRole">
        delete from TRADEADMIN.auth_role_perm where role_eid = #{roleEid}
    </delete>

    <insert id="insertPermissionsForRole">
        insert into TRADEADMIN.auth_role_perm
        (eid, eitime, eutime, role_eid, permission_name)
        select TRADEADMIN.seq_eid.nextval, sysdate, sysdate, t1.* from (
        <foreach collection="permissions" item="permission" separator="UNION ALL">
            select #{roleEid}, #{permission.permissionName} from dual
        </foreach>) t1
    </insert>

    <select id="getPermissionsByRoleEid" resultType="com.zhouyiteng.gambling.model.system.PermModel">
        select permission_name
        from TRADEADMIN.auth_role_perm
        where role_eid = #{eid}
    </select>

</mapper>