<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyiteng.gambling.dao.system.UserMapper">

<!--    mybatis子对象查询，authUserRoleModel中含有AuthRoleModel的List，适用于getPageList方法-->
    <resultMap id="authUserRoleModel" type="com.zhouyiteng.gambling.model.system.UserRoleModel">
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <collection property="roleList" ofType="com.zhouyiteng.gambling.model.system.RoleModel"
                    column="user_id" select="com.zhouyiteng.gambling.dao.mapper.system.RoleMapper.getRoleListByUserId">
        </collection>
    </resultMap>

    <select id="exist" resultType="java.lang.Long">
        select count(1) from TRADEADMIN.auth_user where user_id=#{userId}
    </select>

    <insert id="testInsert" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        insert into TRADEADMIN.auth_user
        (eid, user_id, username, password, status, login_fail, eitime, eutime)
        values
        (TRADEADMIN.seq_eid.nextval, #{model.userId,jdbcType=NVARCHAR},
         #{model.username,jdbcType=NVARCHAR}, #{model.password,jdbcType=NVARCHAR},
         #{model.status,jdbcType=NVARCHAR}, #{model.loginFail,jdbcType=INTEGER}, sysdate, sysdate)
    </insert>

    <insert id="addUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        insert into TRADEADMIN.auth_user
        (eid, user_id, username, password, status, login_fail, eitime, eutime)
        values
        (TRADEADMIN.seq_eid.nextval, #{model.userId,jdbcType=NVARCHAR},
         #{model.username,jdbcType=NVARCHAR}, #{model.password,jdbcType=NVARCHAR},
         '1', '0', sysdate, sysdate)
    </insert>

    <update id="updateUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update TRADEADMIN.auth_user
        set
            username=#{model.username,jdbcType=NVARCHAR},
            eutime=sysdate
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <delete id="deleteUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        delete from TRADEADMIN.auth_user
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </delete>

    <update id="enableUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update TRADEADMIN.auth_user
        set
            status='1',
            eutime=sysdate
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <update id="disableUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update TRADEADMIN.auth_user
        set
            status='0',
            eutime=sysdate
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <update id="resetPassword" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update TRADEADMIN.auth_user
        set
            password=#{model.password,jdbcType=NVARCHAR},
            eutime=sysdate
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <update id="modifyPassword" parameterType="com.zhouyiteng.gambling.model.system.PasswordModifyModel">
        update TRADEADMIN.auth_user
        set
            password=#{model.newPassword,jdbcType=NVARCHAR},
            eutime=sysdate
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <select id="checkPassword" resultType="java.lang.Long">
        select count(1) from TRADEADMIN.auth_user
        where user_id=#{model.userId} and password=#{model.password}
    </select>

    <select id="getTotalCount" resultType="java.lang.Long">
        select count(1) from TRADEADMIN.auth_user where 1=1
        <if test="userId != null and userId!=''">
            AND user_id like '%'||#{userId}||'%'
        </if>
        <if test="username != null and username!=''">
            AND username like '%'||#{username}||'%'
        </if>
    </select>

    <select id="getUserByUserId" resultType="com.zhouyiteng.gambling.model.system.UserModel">
        select eid, eitime, eutime, user_id, username, password, status, login_fail
        from TRADEADMIN.auth_user
        where user_id = #{userId}
    </select>

    <select id="getPageList" resultMap="authUserRoleModel">
        select eid, eitime, eutime, user_id, username, status, login_fail from (
            select A.*, rownum AS rn from (
                select * from TRADEADMIN.auth_user where 1=1
                <if test="userId != null and userId!=''">
                    AND user_id like '%'||#{userId}||'%'
                </if>
                <if test="username != null and username!=''">
                    AND username like '%'||#{username}||'%'
                </if>
            ) A
        ) where rn between #{pageStart} and #{pageEnd}
    </select>

    <select id="getUserSuggest" resultType="com.zhouyiteng.gambling.model.system.UserModel">
        select * from (
            select A.*, rownum AS rn from (
                select eid, eitime, eutime, user_id, username, status, login_fail
                from TRADEADMIN.auth_user where 1=1
                <if test="value != null and value!=''">
                    AND (USER_ID like '%'||#{ value }||'%' or USERNAME like '%'||#{ value }||'%')
                </if>
            ) A
        ) where rn&lt;=#{count}
    </select>

</mapper>