<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyiteng.gambling.dao.system.UserMapper">

<!--    mybatis子对象查询，authUserRoleModel中含有AuthRoleModel的List，适用于getPageList方法-->
    <resultMap id="authUserRoleModel" type="com.zhouyiteng.gambling.model.system.UserRoleModel">
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <collection property="roleList" ofType="com.zhouyiteng.gambling.model.system.RoleModel"
                    column="user_id" select="com.zhouyiteng.gambling.dao.system.RoleMapper.getRoleListByUserId">
        </collection>
    </resultMap>

    <select id="exist" resultType="java.lang.Long">
        select count(1) from gambling.auth_user where user_id=#{userId}
    </select>

    <insert id="addUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        insert into gambling.auth_user
        (user_id, user_name, password, status, login_fail, create_time, update_time)
        values
        (#{model.userId,jdbcType=NVARCHAR},
         #{model.userName,jdbcType=NVARCHAR}, #{model.password,jdbcType=NVARCHAR},
         '1', '0', now(), now())
    </insert>

    <update id="updateUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update gambling.auth_user
        set
            user_name=#{model.userName,jdbcType=NVARCHAR},
            update_time=now()
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <delete id="deleteUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        delete from gambling.auth_user
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </delete>

    <update id="enableUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update gambling.auth_user
        set
            status='1',
            update_time=now()
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <update id="disableUser" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update gambling.auth_user
        set
            status='0',
            update_time=now()
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <update id="resetPassword" parameterType="com.zhouyiteng.gambling.model.system.UserModel">
        update gambling.auth_user
        set
            password=#{model.password,jdbcType=NVARCHAR},
            update_time=now()
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <update id="modifyPassword" parameterType="com.zhouyiteng.gambling.model.system.PasswordModifyModel">
        update gambling.auth_user
        set
            password=#{model.newPassword,jdbcType=NVARCHAR},
            update_time=now()
        where user_id=#{model.userId,jdbcType=NVARCHAR}
    </update>

    <select id="checkPassword" resultType="java.lang.Long">
        select count(1) from gambling.auth_user
        where user_id=#{model.userId} and password=#{model.password}
    </select>

    <select id="getTotalCount" resultType="java.lang.Long">
        select count(1) from gambling.auth_user where 1=1
        <if test="userId != null and userId!=''">
            AND user_id like '%'||#{userId}||'%'
        </if>
        <if test="userName != null and userName!=''">
            AND user_name like '%'||#{userName}||'%'
        </if>
    </select>

    <select id="getUserByUserId" resultType="com.zhouyiteng.gambling.model.system.UserModel">
        select eid, create_time, update_time, user_id, user_name, password, status, login_fail
        from gambling.auth_user
        where user_id = #{userId}
    </select>

    <select id="getPageList" resultMap="authUserRoleModel">
        select eid, create_time, update_time, user_id, user_name, status, login_fail
        from gambling.auth_user where 1=1
        <if test="userId != null and userId!=''">
            AND user_id like '%'||#{userId}||'%'
        </if>
        <if test="userName != null and userName!=''">
            AND user_name like '%'||#{userName}||'%'
        </if>
        order by create_time limit #{pageStart},#{pageEnd}
    </select>

    <select id="getUserSuggest" resultType="com.zhouyiteng.gambling.model.system.UserModel">
        select * from (
            select A.*, rownum AS rn from (
                select eid, create_time, update_time, user_id, user_name, status, login_fail
                from gambling.auth_user where 1=1
                <if test="value != null and value!=''">
                    AND (USER_ID like '%'||#{ value }||'%' or USER_NAME like '%'||#{ value }||'%')
                </if>
            ) A
        ) where rn&lt;=#{count}
    </select>

</mapper>