<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhouyiteng.gambling.dao.game.FastCarMapper">
    <insert id="createNewRace">
        insert into gambling.fast_car (create_time)
        values (now())
    </insert>

    <select id="getLastRace" resultType="com.zhouyiteng.gambling.model.game.FastCarModel">
        select * from gambling.fast_car order by create_time desc limit 1
    </select>

    <update id="updateLastRace">
        update gambling.fast_car set
        first=#{model.first}, second=#{model.second}, third=#{model.third}, fourth=#{model.fourth}, fifth=#{model.fifth},
        sixth=#{model.sixth}, seventh=#{model.seventh}, eighth=#{model.eighth}, ninth=#{model.ninth}, tenth=#{model.tenth},
        generate_type=#{model.generateType}, remark=#{model.remark},update_time=now()
        where eid = #{model.eid}
    </update>

    <select id="getTotalCount" resultType="java.lang.Long">
        select count(1) from gambling.fast_car where 1=1
    </select>

    <select id="getPageList" resultType="com.zhouyiteng.gambling.model.game.FastCarModel">
        select * from gambling.fast_car where 1=1
        order by create_time desc limit #{pageStart},#{pageEnd}
    </select>
</mapper>